body {
  background-color: yellow;
  font-family: 'Permanent Marker', cursive;
}

.main-header {
  font-size: 100px;
  text-align: center;
  margin: 10px;
}

#instructions {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#play:hover #instructions {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border: 0px;
  text-align: center;
}

#play-image {
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rock-image {
  height: 300px;
}

#paper-image {
  height: 350px;
}

#scissors-image {
  height: 400px;
  transform: rotate(90deg);
  margin: 70px;
}

.resetBtn {
  text-align: center;
}
