body {
  background-color: yellow;
  font-family: 'Permanent Marker', cursive;
}

.main-header {
  font-size: 100px;
}

#instructions {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#play:hover #instructions {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border: 0px;
  text-align: center;
}

#play-image {
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rock {
}

#paper {
  
}

#scissors {
  
}

.choice {
  height: 50px;
}