body {
  background-color: yellow;
  font-family: 'Permanent Marker', cursive;
}

#instructions {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#play-image {
  height: 50px;
}

#rock {
}

#paper {
  
}

#scissors {
  
}